Django>=2.0,<3.0
psycopg2>=2.7,<3.0
djangorestframework>=3.11.0
markdown
django-filter
djangorestframework-jsonapi
django_heroku
gunicorn
numpy
django-extra-fields
pillow
django-extensions
firebase-admin>=4.3.0
