{% extends "accounts/base.html" %}
{% load static %}
{% block content %}

<main>
  <h1 text-align="center">Login friend</h1>

  <form method="post" action="" class="form">
    {% csrf_token %}
    {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
        <br><small style="color: #5b72d8">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
    {% endfor %}

    <br>
    <button type="submit" id="submit">Enter</button>
    <br>
    <a class="" href="{% url 'accounts:register' %}">Sign Up</a>
  </form>

  <div></div>
  <div></div>
</main>
<footer>
  <p style="color: white">&copy; Shopping List</p>
</footer>

{% endblock content %}
      