
img{
  max-width: 100%;
}
body {
  font-family: 'Indie Flower', cursive;
  background-color: #AEBAF3;
  text-align: center;
  position: relative;
  width: 100%;
}

h1 {
  font-size: 5em;
  color: #FFC333;
  -webkit-text-stroke: 0.1px black;
}

button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#green-screen {
  background-color: #58C28F;
}

main {
  flex-grow: 7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 3%;
  padding: 2.5%;
  align-self: center;
}

footer {
  background-color: inherit;
}

label {
  size: 8em;
  color: #5b72d8;
}
input {
  min-width: 60%;
  min-height: 3%;
}
button {
  margin-top: 7%;
  font-family: inherit;
  color: #972700;
  background-color: inherit;
  border: 2px solid #5b72d8;
  padding: .2em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  border-radius: 12px;
  max-width: 9em;
  align-self: center;
}

button:hover {
  background-color: white; /* Green */
  color: #5b72d8;
}

form {
  display: flex;
  align-content: center;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  max-width: 90%;
}

header {
  width: 100%;
}

#welcome-new-game {
  font-size: 8em;
}

th {
  text-align: right;
}

td {
  text-align: left;
}

a {
  text-decoration: none;
}

a:hover a:link a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
}

html {
  box-sizing: border-box;
}

h1 {
  margin-top: 3%;
  font-size: 4em;
  color: #FFC333;
  -webkit-text-stroke: 0.1px black;
}
#yay {
  margin-top: 20%;
}

#balloonContainer {
  position: absolute;
  animation-name: moveBalloon;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  width: 100%;
  padding: 0;
  margin: 0;
}

#balloons {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: space-around;
}

.balloon {
  align-self: center;
  min-width: 20%;
  flex-grow: 1;
}

#balloon2 {
  padding-top: 50em;
}

#balloon3 {
  padding-top: 20em;
}

#balloon4 {
  padding-top: 60em;
}

@keyframes moveBalloon {
  0% {
    top: 100%;
  }
  100% {
    top: -300%;
  }
}
#star {
  position: absolute;
  max-width: 10%;
  animation-name: moveStar;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes moveStar {
  0% {
    top: 20%;
    left: 50%;
  }
  16% {
    top: -35em;
    left: -10%;
  }
  17% {
    top: 20%;
    left: 50%;
  }
  31% {
    top: -35em;
    left: 20%;
  }
  32% {
    top: 20%;
    left: 50%;
  }
  47% {
    top: -35em;
    left: 40%;
  }
  48% {
    top: 20%;
    left: 50%;
  }
  62% {
    top: -35em;
    left: 65%;
  }
  63% {
    top: 20%;
    left: 50%;
  }
  77% {
    top: -35em;
    left: 80%;
  }
  78% {
    top: 20%;
    left: 50%;
  }
  100% {
    top: -35em;
    left: 90%;
  }
}
#podium {
    max-height: 10%;
    flex-shrink: 3;
}

#question-button {
  max-width: 95%;
}

@media only screen and (min-width: 600px) {
  body {
    margin: auto;
  }
}
